# Xcode
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Swift Package Manager
.swiftpm/
Packages/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/screenshots

# Debug Symbol Files
*.dSYM.zip
*.dSYM

# Misc
*.swp
*~
.DS_Store
